.header {
    padding: 10px;
    text-align: center;
    background-color:rgb(219, 216, 216);
    color:rgb(34, 35, 36);
    font-size: 20px;
    font-family: Avenir ;
    font-weight: Blod;
}

.hoo{font-family: Avenir Next; font-size: 17px;  margin-left: 35px; margin-right:200px;}

span.class2 {color: rgb(145, 206, 160); font-family: Avenir Next; font-weight: bold; font-size: 16pt;}
span.class3 {color: rgb(116, 207, 207); font-family: Avenir Next; font-weight: bold; font-size: 16pt;}



.ho {
    font-family: Avenir Next; 
    font-size: 13px; 
    margin-left: 15px;    
    
}